#unread, #read{
  width:40%;
  background-color: antiquewhite;
}
#unread{
  float:left;
}
#read{
  float:right;
}
table, td{
  border: 1px solid black;
}
#wrapper{
  padding-top: 10%;
  text-align: center;
  width: 960px;
  margin: 0 auto;
}
body{
  background-color: #C0FFEE;
  font-family: sans-serif;
}
#results{
  margin-top:50px;
}
#userinput{
  font-size: 24px;
}
input {
  width:50%;
  height:36px;
  font-size: 24px;
}